verbose: True
dataset_path: /home/gen.ueshima/gen/workspace/github/GravitySpy/processed/dataset_small.h5
labels: [1080Lines, 1400Ripples, Air_Compressor, Blip,
         Chirp, Extremely_Loud, Helix, Koi_Fish,
         Light_Modulation, Low_Frequency_Burst, Low_Frequency_Lines, No_Glitch,
         None_of_the_Above, Paired_Doves, Power_Line, Repeating_Blips,
         Scattered_Light, Scratchy, Tomte, Violin_Mode,
         Wandering_Line, Whistle]
random_state: 123
in_channels: 4
train_size: 0.8
z_dim: 512
num_classes: 50
num_classes_over: 250
num_heads: 5
lam: 1.0
z_detach: True
lr: 5e-4
num_epoch: 1000
batch_size: 96
num_train_step: 100
save_itvl: 50
eval_itvl: 5
model_dir: /home/gen.ueshima/gen/workspace/github

gpu:
  train: 0
  eval: 1

pretrained: True
pretrained_model_file: vae_e0.pt

wandb:
  project: gw-deep
  group: iic
  name: iic
